.modal__close {
  background-image: url("../../assets/close.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  width: 20px;
  height: 20px;

  border: none;
  background-color: transparent;
  cursor: pointer;
}

.modal__image {
  width: 100%;
  max-height: 498px;
  object-fit: cover;
}
